$primary : #9356DC;
$secondary : #FF79DA;
$tertiary : #99E2D0;
$grey_color: rgb(173, 173, 173);

$text-font-family: 'Roboto', sans-serif;
$title-font-family: 'Shrikhand', cursive;




* {
    box-sizing: border-box;
    border: solid px green;
}

header {
    font-family: $title-font-family;
    text-align: center;
    margin: 0px auto;
    box-shadow: 1px 1px 2px $grey_color;
}

.container {
    margin: 0px auto;
}

body {
    font-family: $text-font-family
}

.location-block {
    background-color: rgb(233, 233, 233);
    margin: -21px auto;
    text-align: center;
    display: block;
    padding: 10px 0px;
}

.location-block * {
    display: inline;
}

.location-block h3 {
    font-size: 16px;
}

.map_icon {
    margin-right: 10px;
    margin-left: -20px;
}

.explore-block,
.resturant_section {
    background-color: rgb(243, 243, 243);
    padding-bottom: 20px;

}

.explore-block h1 {
    text-align: center;
    padding: 30px;
}

.explore-block h3 {
    text-align: center;
    margin: 0px 60px;
    font-weight: 300;
}

.explore-block .button {
    display: block;
    text-align: center;
    width: 250px;
    margin: 20px auto 20px auto;
    padding: 15px 0px;
    border-radius: 30px;
    background-color: $primary;
    border: none;
    text-decoration: none;
    box-shadow: 1px 1px 4px black;
    color: white;


}

.howitworks_section h2,
.resturant_section h2 {
    margin-left: 20px;
    margin-top: 40px;
}

.howitworks_section .card_area {
    display: block;
    margin-bottom: 50px;

}

.howitworks_section .card_area .card {
    display: block;
    background-color: rgb(240, 240, 240);
    height: 70px;
    width: calc(100%-80px);
    margin: 20px 30px 20px 30px;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
}

.howitworks_section .card_area .card .instructions {
    display: flex;
    gap: 30px;
    margin-left: -10px;
}

.card-icon {
    margin-top: 20px;
    font-size: 22px;
    color: grey;
}

.fa-stack {
    vertical-align: top;
    display: inline;
    font-size: 13px;
    margin-top: 16px;
}

.fa-1,
.fa-2,
.fa-3 {
    color: white;
    font-size: smaller;
}

.card-icon-circle {
    color: $primary;
    font-size: 14;
}

.resturant_section {
    background-color: rgb(243, 243, 243);
    padding-bottom: 50px;
    padding-top: 10px;
}

.resturant_section_card {
    width: 90%;
    height: 260px;
    margin: 10px auto;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;

}

.resturant_section_card img {
    width: 100%;
    height: 72%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    margin: 0;

}


.resturant_section_card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 28%;


}

.resturant_section_card-text {
    margin-left: 20px;

}

.resturant_section_card-text h4 {
    margin-top: 13px;
    margin-bottom: 0px;
    font-weight: 700;
}

.resturant_section_card-text h5 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 16px;
}



.heart-icon {
    padding: 25px 20px;
    border-bottom-right-radius: 10px;
    font-size: 24px;
}

footer {
    color: white;
    background-color: rgb(75, 72, 72);
    padding-bottom: 50px;
}

ol {
    margin-bottom: -8px;

    a {
        text-decoration: none;
        color: white;
    }
}

.footer-title {
    font-family: "Shrikhand", cursive;
    font-weight: 300;
    margin-bottom: 15px;
}

.footer-icon {
    font-size: smaller;
    margin-right: 3px;
}

.fork {
    margin-right: 7px;
}