.home-arrow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
}

.resturant-img {
  width: 100%;
}

.menu-section {
  position: relative;
  background-color: rgb(241, 241, 241);
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  margin-top: -70px;
}

hr {
  border: #99E2D0 2px solid;
  margin-left: 20px;
  margin-top: -20px;
  width: 10%;
}

.menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-title h1 {
  font-family: "Shrikhand", cursive;
  margin: 50px;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 25px;
  font-size: 42px;
}

.title-icon {
  padding-bottom: 40px;
  height: 20px;
  margin-right: 40px;
  font-size: xx-large;
  margin-top: 55px;
}

.menu-subtitle {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 400;
}

.card-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-card {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 40px);
  margin: 10px 20px 0px 20px;
  border-radius: 20px;
  height: 100px;
  box-shadow: 1px 2px black;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.7s ease-in-out;
  animation: moveslightlyup 0.8s ease-out;
}
.menu-card h3 {
  font-size: 26px;
  margin-left: 18px;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.7s ease-in-out;
}

.menu-card-text {
  width: 100%;
}

.menu-card-subtext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -15px;
}

.price {
  font-size: 24px;
  font-weight: 700;
  padding: 0 20px;
}

.add-info {
  font-size: 22px;
  font-weight: 400;
  margin-left: 18px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  transition: all 0.7s ease-in-out;
}

.confirm_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  width: 20%;
  position: absolute;
  height: 100%;
  top: 0;
  right: -150px;
  transition: all 0.7s ease-in-out;
}

.menu-card:hover {
  padding-right: 150px;
}
.menu-card:hover .confirm_button {
  right: 0;
  visibility: visible;
  opacity: 1;
  background-color: #99E2D0;
}
.menu-card:hover .menu-card-subtext .add-info {
  width: 300px;
}

.fa-check {
  color: #99E2D0;
  font-size: 22px;
}

.white-circle {
  color: white;
}

.confirm-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes moveslightlyup {
  0% {
    opacity: 0%;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}/*# sourceMappingURL=resturantpage.css.map */